In [ ]:
print('hello world')

hello world

In [ ]:
# importing libraries
import pandas as pd
import numpy as np

In [ ]:
x = pd.read_html('https://en.wikipedia.org/wiki/Population_density')[0]
x.columns =x.columns.droplevel()
x

   Rank Country ordependent territory      km2  ...  Population  per km2  per sq.mi.
0     1                 Macau (China)    30.50  ...      650834    21339       55268
1     2                        Monaco     2.02  ...       37550    18589       48145
2     3                     Singapore   719.90  ...     5612300     7796       20192
3     4             Hong Kong (China)  1106.30  ...     7409800     6698       17348
4     5            Gibraltar (UK)[11]     6.80  ...       33140     4874       12624
5     6                       Bahrain   757.00  ...     1451200     1917        4965
6     7                  Vatican City     0.44  ...         800     1818        4709
7     8                         Malta   315.00  ...      475701     1510        3911
8     9                      Maldives   298.00  ...      378114     1269        3287
9    10                  Bermuda (UK)    52.00  ...       63779     1227        3178

[10 rows x 7 columns]

# Advanced data loading and exporting

In [ ]:
#We have seen the most common data load techniques in pandas
#the stragglers are loading data separated by not-as-common separators

# Import tab-delimited file
data = pd.read_csv('vehicles_tab.txt', sep='\t')

# Import pipe-delimited file
data = pd.read_csv('vehicles_pipe.txt', sep='|')
data.head()

               Make  ... Fuel Cost/Year
0        AM General  ...           1950
1        AM General  ...           2550
2        AM General  ...           2100
3        AM General  ...           2550
4  ASC Incorporated  ...           2550

[5 rows x 15 columns]

In [ ]:
#JSON is a format used for transmitting structured data between web applications
#Not usually used to store data, but sometimes co-opted for that
data = pd.read_json('vehicles.json')
data.head()

               Make  ... Fuel Cost/Year
0        AM General  ...           1950
1        AM General  ...           2550
2        AM General  ...           2100
3        AM General  ...           2550
4  ASC Incorporated  ...           2550

[5 rows x 15 columns]

In [ ]:
#pandas can write to different formats of JSON so that you are always able to communicate witht he downstream service easily

#each line as a list of dictionaries, column names as keys
data.to_json('test_records.json',orient='records')
#dictionary for each index, colum names as keys in subdictionsry
data.to_json('test_index.json',orient='index')
#as a list of lists
data.to_json('test_values.json',orient='values')
#as a list of lists, index columns and index lines separated at the head of document
data.to_json('test_split.json',orient='split')
#each column as a key with a dictionary for each line, key is index
data.to_json('test_columns.json',orient='columns')
#description of shcema at head, list of lines as dictionaries following
data.to_json('test_table.json',orient='table')

# Data cleaning

## First step - import the dataset and look at it!!

In [ ]:
# load Dataframe
ds = pd.read_csv('vehicles_messy.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
# check how many columns and entries (so you have an idea when comparing with missing values)
ds.shape

(37843, 83)

In [ ]:
# get a quick overview of the dataset as a whole, column by column
ds.describe()

          barrels08    barrelsA08  ...       phevHwy      phevComb
count  37843.000000  37843.000000  ...  37843.000000  37843.000000
mean      17.532506      0.216169  ...      0.068203      0.068573
std        4.575950      1.141527  ...      1.871986      1.913647
min        0.060000      0.000000  ...      0.000000      0.000000
25%       14.330870      0.000000  ...      0.000000      0.000000
50%       17.347895      0.000000  ...      0.000000      0.000000
75%       20.600625      0.000000  ...      0.000000      0.000000
max       47.087143     18.311667  ...     79.000000     88.000000

[8 rows x 59 columns]

In [ ]:
# peek at the actual data! Data science is hands on!
ds.head()

   barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
0  15.695714         0.0        0.0  ...         0        0         0
1  29.964545         0.0        0.0  ...         0        0         0
2  12.207778         0.0        0.0  ...         0        0         0
3  29.964545         0.0        0.0  ...         0        0         0
4  17.347895         0.0        0.0  ...         0        0         0

[5 rows x 83 columns]

## Data Cleaning 1 - check missing or (abnormally high) zero values

In [ ]:
# Check for Missing Values. Is this easy to see? When to drop the lines and when to drop the column.
#isnull and isna are the same method, it's a stylistic preference
ds.isnull()
ds.isnull().sum()

barrels08         0
barrelsA08        0
charge120         0
charge240         0
city08            0
              ...
modifiedOn        0
startStop     31705
phevCity          0
phevHwy           0
phevComb          0
Length: 83, dtype: int64

In [ ]:
#difficult to read, filter out the columns with no nulls
#Get rid of all the columns with zero nulls
ds_null = ds.isnull().sum()
ds.isnull().sum()[ds.isnull().sum() > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [ ]:
#Check for zero values
ds_zeros = ds[ds == 0.0].count()
#ds_zeros
ds[ds == 0.0].count()[ds[ds == 0.0].count() > 0]

barrelsA08         36435
charge120          37843
charge240          37691
city08U            30544
cityA08            36435
cityA08U           37103
cityCD             37831
cityE              37668
cityUF             37788
co2                  120
co2A                  15
co2TailpipeAGpm    36490
co2TailpipeGpm       120
comb08U            30544
combA08            36435
combA08U           37103
combE              37668
combinedCD         37828
combinedUF         37788
displ                  2
engId              12600
fuelCostA08        36471
ghgScoreA              9
highway08U         30544
highwayA08         36435
highwayA08U        37103
highwayCD          37833
highwayE           37668
highwayUF          37788
hlv                33228
hpv                33229
lv2                31593
lv4                24449
phevBlended        37807
pv2                31604
pv4                24449
range              37723
rangeCity          37750
rangeCityA         37788
rangeHwy           37750
rangeHwyA          37788
UCity                 25
UCityA             36481
UHighway              25
UHighwayA          36481
youSaveSpend        1234
charge240b         37807
phevCity           37788
phevHwy            37788
phevComb           37788
dtype: int64

In [ ]:
#Make a list to drop
ds_null[ds_null > 10000]
list(ds_null[ds_null > 10000].index)

ds_dropped = ds.drop(list(ds_null[ds_null > 10000].index), axis=1)
ds_dropped.head()

   barrels08  barrelsA08  charge120  ...  phevCity  phevHwy  phevComb
0  15.695714         0.0        0.0  ...         0        0         0
1  29.964545         0.0        0.0  ...         0        0         0
2  12.207778         0.0        0.0  ...         0        0         0
3  29.964545         0.0        0.0  ...         0        0         0
4  17.347895         0.0        0.0  ...         0        0         0

[5 rows x 70 columns]

In [ ]:
## exercise: do the same for negative values
#.numeric()
# select_dtypes()
numeric = ds.select_dtypes(exclude=object)

ds_negatives = numeric[numeric < 0.0].count()
ds_negatives
#numeric[numeric < 0.0].count()[numeric[numeric < 0.0].count() > 0]

barrels08              0
barrelsA08             0
charge120              0
charge240              0
city08                 0
city08U                0
cityA08                0
cityA08U               0
cityCD                 0
cityE                  0
cityUF                 0
co2                31989
co2A               37318
co2TailpipeAGpm        0
co2TailpipeGpm         0
comb08                 0
comb08U                0
combA08                0
combA08U               0
combE                  0
combinedCD             0
combinedUF             0
cylinders              0
displ                  0
engId                  0
feScore            32028
fuelCost08             0
fuelCostA08            0
ghgScore           32028
ghgScoreA          37325
highway08              0
highway08U             0
highwayA08             0
highwayA08U            0
highwayCD              0
highwayE               0
highwayUF              0
hlv                    0
hpv                    0
id                     0
lv2                    0
lv4                    0
phevBlended            0
pv2                    0
pv4                    0
range                  0
rangeCity              0
rangeCityA             0
rangeHwy               0
rangeHwyA              0
UCity                  0
UCityA                 0
UHighway               0
UHighwayA              0
year                   0
youSaveSpend       32526
charge240b             0
phevCity               0
phevHwy                0
phevComb               0
dtype: int64

In [ ]:
# Cylinders and displ have similar number of Null values. Maybe they have the same null entries?  
# Let's check if it makes sense to drop them or keep them
null_displ = ds[ds['displ'].isnull()]

null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']]
null_displ
#we seem to have found a strong correlation

       year    make  ... cylinders displ
7138   2000  Nissan  ...       NaN   NaN
7139   2000  Toyota  ...       NaN   NaN
8143   2001  Toyota  ...       NaN   NaN
8144   2001    Ford  ...       NaN   NaN
8146   2001    Ford  ...       NaN   NaN
...     ...     ...  ...       ...   ...
30969  2017     Kia  ...       NaN   NaN
30972  2016   Tesla  ...       NaN   NaN
30973  2016   Tesla  ...       NaN   NaN
30974  2016   Tesla  ...       NaN   NaN
30975  2016   Tesla  ...       NaN   NaN

[120 rows x 8 columns]

In [ ]:
# In case we decide they are important even with little data,
# we might want to fill the missing values with a value we choose. In this case we fill with zero.
#fillna has multiple options and similar functions you may want to check out: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html 
ds[['displ', 'cylinders']] = ds[['displ', 'cylinders']].fillna(0)
ds[['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']][29670:30000]

       year           make  ... cylinders displ
29670  2016          Volvo  ...       4.0   2.0
29671  2016      Chevrolet  ...       0.0   0.0
29672  2016  Mercedes-Benz  ...       0.0   0.0
29673  2016        Hyundai  ...       4.0   2.0
29674  2016         Jaguar  ...       6.0   3.0
...     ...            ...  ...       ...   ...
29995  1987            GMC  ...       6.0   4.3
29996  2017     Mitsubishi  ...       3.0   1.2
29997  2017     Mitsubishi  ...       3.0   1.2
29998  2017       Chrysler  ...       6.0   3.6
29999  2017     Mitsubishi  ...       0.0   0.0

[330 rows x 8 columns]

In [ ]:
# filling NaN values with 0 is often not correct. fillna needs to be done cautiously. 
# Popular choices are to fill NaN values with the average or median of the remaining values of the same column
# Sometimes we can even create predictive models to fill in the missing values from other values of the same row

#These methods of filling NaNs are called *imputation* and are a very popular interview question

## Data Cleaning 2 - Data Type Correction

Sometimes you might want to change the type of a value

In [ ]:
ds['cylinders'].dtypes

dtype('float64')

In [ ]:
ds['cylinders'] = ds['cylinders'].astype('int64')
ds['cylinders'].dtypes

dtype('int64')

## Data Cleaning 3 - Cleaning Text and Removing Special Symbols

In [ ]:
print(set(ds['trany']))

{nan, 'Manual 5 spd', 'Automatic (A6)', 'Auto (AV)', 'Automatic 7-spd', 'Manual 4-spd Doubled', 'Auto (AV-S8)', 'Manual 3-spd', 'Manual(M7)', 'Automatic (variable gear ratios)', 'Auto(L4)', 'Automatic 6-spd', 'Automatic (S4)', 'Automatic (AM5)', 'Automatic 6spd', 'Automatic 9-spd', 'Automatic (AV-S6)', 'Manual 5-spd', 'Auto (AV-S6)', 'Automatic 5-spd', 'Auto(AM-S8)', 'Automatic (S9)', 'Auto(AV-S6)', 'Auto(AV-S7)', 'Automatic 3-spd', 'Automatic (A1)', 'Auto(AM-S6)', 'Auto(AM-S7)', 'Auto(A1)', 'Manual 4-spd', 'Automatic (AM6)', 'Automatic (AV)', 'Auto(AM6)', 'Automatic (S8)', 'Auto(AV-S8)', 'Automatic (S7)', 'Auto(AM7)', 'Automatic 4-spd', 'Manual 6-spd', 'Manual 7-spd', 'Automatic (S5)', 'Auto(AM8)', 'Auto(L3)', 'Automatic (S6)', 'Auto(AM5)', 'Automatic 8-spd', 'Auto(AM-S9)'}

In [ ]:
ds['trany'] = ds['trany'].str.replace('-', '')
print(set(ds['trany']))

{nan, 'Manual 5 spd', 'Auto(AVS6)', 'Automatic (A6)', 'Automatic (AVS6)', 'Automatic 7spd', 'Auto (AV)', 'Automatic 5spd', 'Auto(AVS8)', 'Manual(M7)', 'Automatic (variable gear ratios)', 'Auto(AMS9)', 'Auto(L4)', 'Automatic (S4)', 'Automatic (AM5)', 'Automatic 6spd', 'Auto(AMS7)', 'Manual 6spd', 'Automatic (S9)', 'Automatic (A1)', 'Auto(AMS8)', 'Auto(A1)', 'Automatic (AM6)', 'Automatic (AV)', 'Manual 3spd', 'Auto(AM6)', 'Manual 5spd', 'Automatic (S8)', 'Automatic (S7)', 'Auto(AM7)', 'Automatic 9spd', 'Auto(AMS6)', 'Manual 4spd', 'Automatic 4spd', 'Automatic 3spd', 'Automatic (S5)', 'Manual 4spd Doubled', 'Auto (AVS8)', 'Automatic 8spd', 'Auto(L3)', 'Automatic (S6)', 'Auto(AM5)', 'Auto(AVS7)', 'Auto(AM8)', 'Manual 7spd', 'Auto (AVS6)'}

In [ ]:
#the same technique can be used to normalize the data
ds['trany'] = ds['trany'].str.replace('Automatic', 'Auto')
print(set(ds['trany']))

ds['trany'] = ds['trany'].str.replace("Auto\(", "Auto (")
print(set(ds['trany']))

#regex is often your friend here

{nan, 'Manual 5 spd', 'Auto(AVS6)', 'Auto (AV)', 'Auto (S4)', 'Auto (S8)', 'Auto(AVS8)', 'Manual(M7)', 'Auto(AMS9)', 'Auto (S6)', 'Auto(AMS7)', 'Auto 9spd', 'Auto 3spd', 'Manual 6spd', 'Auto (A1)', 'Auto 4spd', 'Auto (A6)', 'Auto(AMS8)', 'Auto(A1)', 'Auto (AM6)', 'Manual 3spd', 'Auto(AM6)', 'Auto (S5)', 'Manual 5spd', 'Auto (AM5)', 'Auto (S7)', 'Auto (S9)', 'Auto (variable gear ratios)', 'Auto 6spd', 'Auto 7spd', 'Auto(AM7)', 'Auto 8spd', 'Auto(AMS6)', 'Manual 4spd', 'Auto 5spd', 'Manual 4spd Doubled', 'Auto (AVS8)', 'Auto(AM8)', 'Auto(L3)', 'Auto(L4)', 'Auto(AM5)', 'Auto(AVS7)', 'Manual 7spd', 'Auto (AVS6)'}
{nan, 'Auto (AMS9)', 'Manual 5 spd', 'Auto (AMS6)', 'Auto (AV)', 'Auto (S4)', 'Auto (S8)', 'Manual(M7)', 'Auto (S6)', 'Auto 9spd', 'Auto 3spd', 'Auto (A1)', 'Auto 4spd', 'Auto (A6)', 'Manual 7spd', 'Auto (AM6)', 'Auto (L3)', 'Manual 3spd', 'Auto (S5)', 'Manual 5spd', 'Auto (AM5)', 'Auto (S7)', 'Auto (S9)', 'Auto (AVS7)', 'Auto (variable gear ratios)', 'Auto 6spd', 'Auto (L4)', 'Auto 7spd', 'Auto (AM8)', 'Auto 8spd', 'Auto (AMS7)', 'Auto (AMS8)', 'Manual 4spd', 'Auto 5spd', 'Manual 4spd Doubled', 'Auto (AVS8)', 'Manual 6spd', 'Auto (AM7)', 'Auto (AVS6)'}

## Data Cleaning 4 - Removing Duplicates

In [ ]:
# concatenating (put two dataframes together, like merge or join)
frames = [ds, ds]

ds  = pd.concat(frames)

In [ ]:
#drop duplicates removes all duplicated lines 
before = len(ds)
display(before)
ds = ds.drop_duplicates()
ds
after = len(ds)
display(after)
print('Number of duplicate records dropped: ', str(before - after))

# you can also remove lines that have duplicates only on some columns
before = len(ds)
droppedsubset = ds.drop_duplicates(subset=['make', 'model', 'year', 'displ', 'cylinders',
                                           'trany', 'drive', 'VClass','fuelType','barrels08',
                                           'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08'])
after = len(droppedsubset)
print('Number of duplicate records dropped, considering only some columns: ', str(before - after))

# by default you retain the first copy of the dropped lines from each replication
before = len(ds)
losefirst = ds.drop_duplicates(subset=['make', 'model', 'year', 'displ', 'cylinders',
                                       'trany', 'drive', 'VClass','fuelType','barrels08',
                                       'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08'],keep=False)
after = len(losefirst)
print('Number of duplicate records dropped, if not keeping first instance in dataset: ', str(before - after))

37843

37843

Number of duplicate records dropped:  0
Number of duplicate records dropped, considering only some columns:  885
Number of duplicate records dropped, if not keeping first instance in dataset:  1739